.window {
  color: white;
  display: flex;
  flex-direction: column;

  .line {
    width: 100%;
    padding: 6px;
    line-height: 20px;

    a {
      z-index: 2;
      display: block;
      position: relative;
      color: #5b67f9;
    }
  }

  .input {
    height: 20px;
    width: 7.5px;
    background: white;
    margin-left: 6px;
    animation: flash 0.75s ease-in-out infinite;
  }

  .buffer {
    display: flex;
    padding: 12px 0;
    align-items: center;
  }

  input {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }

  49% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
