{
    "extends": "stylelint-config-standard",
    plugins: [
      'stylelint-scss'
    ],
    "rules": {
      'color-hex-case': null,
      'color-hex-length': null,
      'declaration-colon-newline-after': null,
      'declaration-empty-line-before': ['never', {
        ignore: ['after-declaration']
      }],
      "at-rule-no-unknown": [true, {
      "ignoreAtRules": ["function", "if", "each", "include", "mixin"]
      }],
      'font-weight-notation': 'named-where-possible',
      'max-line-length': [100, {
        ignore: ['comments'],
      }],
      'no-descending-specificity': null,
      'property-no-unknown': [true, {
        ignoreProperties: ['composes', '/^var/']
      }],
      'selector-attribute-quotes': 'always',
      'selector-list-comma-newline-after': 'always-multi-line',
      'selector-max-attribute': 2,
      'selector-max-universal': 2,
      'selector-pseudo-class-no-unknown': [true, {
        ignorePseudoClasses: ['global', 'export']
      }],
      'comment-word-blacklist': ['/^TODO/', {
        severity: 'warning'
      }],
      'declaration-no-important': [true, {
        severity: 'warning'
      }],

      'no-invalid-double-slash-comments': null,

      'at-rule-empty-line-before': ['always', {
        except: ['first-nested'],
        ignore: ['after-comment', 'blockless-after-same-name-blockless'],
        ignoreAtRules: ['if', 'else']
      }],
      'block-closing-brace-newline-after': ['always', {
        ignoreAtRules: ['if', 'else']
      }],

      'scss/double-slash-comment-whitespace-inside': 'always',
      'scss/at-else-closing-brace-newline-after': 'always-last-in-chain',

      'scss/at-function-parentheses-space-before': 'never',
      'scss/at-if-closing-brace-newline-after': 'always-last-in-chain',
      'scss/at-if-closing-brace-space-after': 'always-intermediate',
      'scss/at-mixin-parentheses-space-before': 'never',
      'scss/declaration-nested-properties': 'never',
      'scss/dollar-variable-colon-space-after': 'at-least-one-space',
      'scss/dollar-variable-colon-space-before': 'never',
      'scss/dollar-variable-no-missing-interpolation': true,
      'scss/operator-no-newline-after': true,
      'scss/operator-no-newline-before': true,
      'scss/operator-no-unspaced': true,
      'scss/partial-no-import': true,

      'at-rule-no-vendor-prefix': true,
      'media-feature-name-no-vendor-prefix': true,
      'property-no-vendor-prefix': true,
      'selector-no-vendor-prefix': true,
      'value-no-vendor-prefix': true
  }
}