@mixin input {
  background: white;
  color: $darkGrey;
  border: solid 1px $midGrey;
  font-weight: 200;
  border-radius: 6px;
  padding: 12px;
}

@mixin label {
  display: flex;
  flex-direction: column;
  margin: 12px;

  input {
    margin-top: 12px;
  }
}
