$maxWidth: 1200px;

// Colours
$buttonYellow: rgba(#443d0b, 0.5);
$yellow: #D9A322;
$yellowGradient: linear-gradient(218deg, #826520 15%, $yellow 90%);
$mobileGradient: linear-gradient(218deg, #826520 15%, $yellow 100%);
$lightGrey: #FAFBFE;
$midGrey:  #5d667d;
$darkGrey: #31394F;
$darkBlue: #1F2536;
$inputBlue: #1B202E;
$btnColor: #242204;

$textShadow: 0 1px 2px rgba(0, 0, 0, 0.5);
